In [10]:
import numpy as np 
import pandas as pd

df = pd.read_csv('/kaggle/input/retail-sales-dataset/retail_sales_dataset.csv')

print('--------------------------------------------------------------------')
print('Printing INFO:')
print(df.info())
print('--------------------------------------------------------------------')
print('Printing HEAD:')
print(df.head())
print('--------------------------------------------------------------------')
print('Printing DESCRIBE:')
print(df.describe())
print('--------------------------------------------------------------------')

--------------------------------------------------------------------
Printing INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB
None
--------------------------------------------------------------------
Printing HEAD:
   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100
--------------------------------------------------------------------
Printing DESCRIBE:
       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000
--------------------------------------------------------------------

# Observations

# # INFO
  * Date is of type object, it should be of type datetime
  * Customer ID is of type object, it should be of type string
  * Gender is of type object, it should be either converted into either 1 or 0, so a bool could also be a good data type.
  * Product Category can be made into enums, using a string with data with space in between would make life easier.

# # HEAD
  * Trasition ID starts with 2 digits, which is a good thing.
  * Date follows the pattern of YYYY-mm-dd
  * Customer ID, follows a good pattern of appending CUST before 3 digit numbers.
  * Rest of data is good.

# # Describe
  * Count for all colomns is 1000.
  * Mean age of shopper is 41.39200, while mean price per unit sold is \\&#36;179.89 and mean total amount of shopping purchase by a person is \\&#36;459.00
  * Max number of items sold in 2023, in one shopping cart was 4.
  * Max number of amount spend per shopping cart is \$2000

In [11]:
print('--------------------------------------------------------------------')
print('Printing DESCRIBE:')
df.isnull().sum()
print('--------------------------------------------------------------------')

--------------------------------------------------------------------
Printing DESCRIBE:
--------------------------------------------------------------------

# Review

No missing values found.

In [14]:

df['Date'] = pd.to_datetime(df['Date'])

print('--------------------------------------------------------------------')

print('Changed the date date type, printing df.INFO:')
print(df.info())

print('--------------------------------------------------------------------')

print('Printing DUPLICATES:')
duplicates = df.duplicated().sum()
print(duplicates)

print('--------------------------------------------------------------------')

print("Priting unique values in categorical columns")
print("Gender:", df['Gender'].unique())
print("Product Category:", df['Product Category'].unique())

print('--------------------------------------------------------------------')

--------------------------------------------------------------------
Changed the date date type, printing df.INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   datetime64[ns]
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 70.4+ KB
None
--------------------------------------------------------------------
Printing DUPLICATES:
0
--------------------------------------------------------------------
Priting unique values in categorical columns
Gender: ['Male' 'Female']
Product Category: ['Beauty' 'Clothing' 'Electronics']

# # Data Type conversion

Data Type is converted to desired data type

# # Duplicates

We don't have any duplicates

# # Unique values

Gender is only 2 values: Male and Female
Product category are 2 values: Beauty, Clothing and Electronics